.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 476px;
  height: 492.74px;
  margin: 40px;
  border: 1px solid black;
}
.sideways {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #e3e3e3;
  line-height: 0.1em;
}
.sideways span {
  background-color: white;
  padding: 0 10px;
  font-size: 13px;
}
